@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
     --main-colour: #171a21;
     --creàtive-colour: #66c0f4;
     --secondary-color: #1b2838;
     --element-color: #2a475e;
     --element-color-hover: radial-gradient(circle, rgba(255,255,255,0) 21%, rgba(42,71,94,1) 58%);
     --secondary-creative: #c7d5e0;
     --white: white;
     --lime: lime;
     --brown: rgb(192, 114, 41);
     --third-creative: rgb(7, 158, 67);
     --third-creative-hover: rgb(62, 218, 124);
     --display: flex;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

html, body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-colour);
}

.follower-site{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    background-color: transparent;
    z-index: 4;
}

.nav-container{
    display: block;
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid rgb(35, 35, 35);
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    background-color: var(--element-color);
    z-index: 5;
    overflow-y: visible;
    transition: 0.3s top ease-out, 0.3s transform ease-out;
}

.nav-container--fix{
    position: fixed;
    top: 0;
}

.nav-container--move{
    transform: scale(1);
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    min-height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.25rem 2rem;
}

.nav-links{
    display: flex;
    gap: 4rem;
    align-items: center;;
}

.nav-link{
    position: relative;
    display: block;
    font-size: 1.5rem;
    color: var(--secondary-creative);
    font-weight: 600;
    text-decoration: none;
}

.nav-link::after{
    content: " ";
    display: inline-block;
    position: absolute;
    top: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0%;
    background-color: var(--secondary-creative);
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.nav-link:hover::after{
    width: 100%;
}

.nav-link:hover{
    color: var(--white);
}

.hamburger{
     display: none; 
}

.hamburger-button{
    position: relative;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--element-color);
    z-index: 99;
    cursor: pointer;
}

.hamburger-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--secondary-creative);
    background-color: var(--element-color);
    z-index: 99;
    width: 4rem;
    height: 4rem;
}

.hamburger-button::after, .hamburger-button::before{
    content: " ";
    display: block;
    width: 0%;
    height: 0px;
    transition: 1s width ease-out, 1s height ease-out;
    background-color: rgba(0, 0, 0, 0.08);
    z-index: 1;
}

.hamburger-button::before{
    position: absolute;
    left: -1px;
    top: -1px;
}

.hamburger-button::after{
    position: absolute;
    right: -1px;
    bottom: -1px;
}

.hamburger-button:hover{
    background-color: none;
    background-image: url(--element-color-hover);
}

.hamburger-button:hover::after, .hamburger-button:hover::before{
    height: calc(3rem + 2px);
    width: calc(3rem + 2px);
}

.hideit-container{
    position: relative;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

.hideit{
    font-size: 3rem;
    color: var(--secondary-creative);
}

.hamburger-content{
    display: flex;
    flex-direction: column;
    width: 0%;
    max-width: 500px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--element-color);
    z-index: 999;
    transition: 1s width ease-out;
    border-left: 3px solid rgba(0, 0, 0, 0.052);
    overflow: hidden;
}

.hamburger-content--active{
    width: 100%;
}

.hamburger-item{
    width: 100%;
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
}

.hero{
    margin-top: 6rem;
    display: block;
    height: 600px;
    width: 100%;
    background-color: var(--secondary-color);
    overflow-y: hidden;
}

.hero-background{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    z-index: 1;
}

.hero-content{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border: 3px solid rgba(0, 0, 0, 0.285);
    /* box-shadow: 0 0 6px 65px rgba(48, 48, 48, 0.21); */
}

.blur{
    position: relative;
    background-color: rgba(0, 0, 0, 0.371);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 2;
}

.profile-container{
    height: 16rem;
    width: 16rem;
    border-radius: 100%;
    border: 5px solid var(--white);
    position: relative;
    overflow: hidden;
    transition: 1s transform ease-in-out;
}

.profile-container:hover{
    transform: scale(1.1);
}

.profile-picture{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.nickname{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.zombie-tag, .actual-name{
    font-size: 1.5rem;
    font-weight: 600;
}

.zombie-tag{
    color: var(--brown);
    letter-spacing: 1px;
}

.actual-name{
    color: var(--lime);
}

.description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    width: 100%;
    padding: 0.25rem;
}

.description .paragraph{
    text-align: left;
    font-size: 1.1rem;
    color: var(--white);
    font-weight: 600;
}

.directions{
    position: fixed;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    display: block;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -1px;
    padding: 0.25rem;
    border-left: 3px solid rgba(0, 0, 0, 0.236);
    border-right: 3px solid rgba(0, 0, 0, 0.236);
    padding-left: 1rem;
    background-color: var(--secondary-color);
    
}

.main{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: var(--secondary-color);
    min-height: auto;
    border-radius: 3px;
    border: 3px solid rgba(0, 0, 0, 0.236);
    padding: 1rem;
    margin-bottom: 3rem;
}

.games{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: left;
    justify-content: start;
    width: 100%;
    height: auto;
}

.games-header-container{
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.games-header-content{
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}

.games-header-bonus{
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-creative);
    opacity: 20%;
}

.game{
    width: 100%;
    min-height: 200px;
    background-color: var(--main-colour);
    padding: 1rem;
    border-radius: 7px;
}

.game-top, .game-middle, .game-bottom{
    width: 100%;
}

.game-top{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
}

.game-title, .game-hours{
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.game-title{
    color: var(--white);
    font-weight: 700;
}

.game-hours{
    color: var(--secondary-creative);
    font-weight: 400;
}

.game-middle{
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 1rem 0;
}

.game-background{
    width: 100%;
    max-width: 400px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

#tf-2 .game-background{
    object-position: bottom;
}

#er .game-background{
    object-position: top;
}

.achievement-progress{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.4rem;
}

.achievement-text{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-creative);
}

.achievement-progress .progress-bar{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: 150px;
    height: 0.5rem;
    border-radius: 15px;
    background-color: gray;
    overflow: hidden;
}

.achievement-progress .progress-bar .progress-fill{
    background-color: var(--third-creative);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}

#tf-2 .progress-fill{
    width: calc(274 / 520 * 100%);
}

#er .progress-fill{
    width: calc(38 / 42 * 100%);
}

.game-bottom{
    display: flex;
    justify-content: end;
    gap: 1rem;
    align-items: center;
    padding: 0.25rem 0;
    width: 100%;
}

.game-button{
    display: inline-block;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--white);
    font-weight: 700;
    padding: 0.75rem 2rem;
    background-color: var(--third-creative);
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s background ease-in-out;
}

.game-button:hover{
    background-color: var(--third-creative-hover);
}

.footer-container{
    position: relative;
    width: 100%;
    background-color: black;
    height: 8rem;
    z-index: 6;
}

.footer-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.footer-home{
    text-decoration: none;
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}

.sidebar{
    background-color: var(--element-color);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.171);
}

.sidebar-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.sidebar-header{
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    padding: 0;
    text-align-last: left;
}

.sidebar-paragraph{
    width: 100%;
    padding: 0rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-creative);
}

.sidebar-dropdown-container{
    position: relative;
}

.sidebar-dropdown-container .sidebar-header{
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;
}

.sidebar-dropdown-container .sidebar-header:hover{
    background-image: var(--element-color-hover);
}

.sidebar-dropdown-container .sidebar-header::after{
    display: inline-block;
    content: "↓";
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}

.sidebar-dropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-dropdown--link{
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--white);
    background-color: transparent;
    transition: 0.3s background ease-out;
    text-decoration: none;
}

#github{
    background-color: black;
}

#github:hover{
    background-color: rgb(30, 30, 30);
}

#twitter{
    background-color: rgb(0, 183, 255);
}

#twitter:hover{
    background-color: rgb(122, 212, 248);
}

.boxes-container{
    display: block;
}

.cursor-box{
    position: fixed;
    transform: translate(-50%,calc(-100% - 3px));
    display: var(--display);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 1.75rem;
    font-size: 1.25rem;
    padding: 0 1rem;
    border-radius: 5px;
    color: var(--white);
    background-color: black;
    z-index: 999;
}

.cursor-box::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    
    box-sizing: content-box;
    border-top: 3px solid black;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.dark-overlay{
    display: flex;
    align-items: center;
    justify-content: center;   
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.321);
    z-index: 999;
}

.zoom-window{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--white);
    padding: 2rem;
    padding-top: 3rem;
    height: auto;
    width: auto;
    max-width: 100vw;
    max-height: 100vh;
}

.zoom-window img{
    object-fit: contain;
    max-width: calc(100vw - 8rem);
    max-height: calc(100vh - 8rem);
}

.go-back{
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    height: 1rem; 
    height: 1rem; 
    background-color: none;
    cursor: pointer;
    user-select: none;
}

.hidden{
    display: none !important;
}



